<a href="https://colab.research.google.com/github/Arch0/Analysis-of-country-dataset-/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import all useful liblaries

In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 

import datetime as dt

import sklearn
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score

from scipy.cluster.hierarchy import linkage 
from scipy.cluster.hierarchy import dendrogram
from scipy.cluster.hierarchy import cut_tree

In [2]:
df= pd.read_csv("/content/drive/MyDrive/Country-data (1).csv")

In [3]:
df

                 country  child_mort  exports  ...  life_expec  total_fer   gdpp
0            Afghanistan        90.2     10.0  ...        56.2       5.82    553
1                Albania        16.6     28.0  ...        76.3       1.65   4090
2                Algeria        27.3     38.4  ...        76.5       2.89   4460
3                 Angola       119.0     62.3  ...        60.1       6.16   3530
4    Antigua and Barbuda        10.3     45.5  ...        76.8       2.13  12200
..                   ...         ...      ...  ...         ...        ...    ...
162              Vanuatu        29.2     46.6  ...        63.0       3.50   2970
163            Venezuela        17.1     28.5  ...        75.4       2.47  13500
164              Vietnam        23.3     72.0  ...        73.1       1.95   1310
165                Yemen        56.3     30.0  ...        67.5       4.67   1310
166               Zambia        83.1     37.0  ...        52.0       5.40   1460

[167 rows x 10 columns]

In [4]:
df.head()

               country  child_mort  exports  ...  life_expec  total_fer   gdpp
0          Afghanistan        90.2     10.0  ...        56.2       5.82    553
1              Albania        16.6     28.0  ...        76.3       1.65   4090
2              Algeria        27.3     38.4  ...        76.5       2.89   4460
3               Angola       119.0     62.3  ...        60.1       6.16   3530
4  Antigua and Barbuda        10.3     45.5  ...        76.8       2.13  12200

[5 rows x 10 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167 entries, 0 to 166
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   country     167 non-null    object
 1   child_mort  167 non-null    float64
 2   exports     167 non-null    float64
 3   health      167 non-null    float64
 4   imports     167 non-null    float64
 5   income      167 non-null    int64
 6   inflation   167 non-null    float64
 7   life_expec  167 non-null    float64
 8   total_fer   167 non-null    float64
 9   gdpp        167 non-null    int64
dtypes: float64(7), int64(2), object(1)
memory usage: 13.2+ KB

In [6]:
df.describe()

       child_mort     exports  ...   total_fer           gdpp
count  167.000000  167.000000  ...  167.000000     167.000000
mean    38.270060   41.108976  ...    2.947964   12964.155689
std     40.328931   27.412010  ...    1.513848   18328.704809
min      2.600000    0.109000  ...    1.150000     231.000000
25%      8.250000   23.800000  ...    1.795000    1330.000000
50%     19.300000   35.000000  ...    2.410000    4660.000000
75%     62.100000   51.350000  ...    3.880000   14050.000000
max    208.000000  200.000000  ...    7.490000  105000.000000

[8 rows x 9 columns]

Cleaning the data

In [8]:
#checking null percentage
round(100*(df.isnull().sum())/len(df), 2)

country       0.0
child_mort    0.0
exports       0.0
health        0.0
imports       0.0
income        0.0
inflation     0.0
life_expec    0.0
total_fer     0.0
gdpp          0.0
dtype: float64



*   There is no null value in the dataset